/* change page style */
body {
    background-color: darkslategrey;
    color: darkviolet;
    font-family: Courier New;
    font-size: 20px;
}
/* changes 1st heading font */
h1 {
    color: darkmagenta; 
    font-size: 72px;
}
/* changes 2nd heading font */
h2 {
    color: darkorchid;
    font-size: 54px;
    font-family: Times New Roman;
}